<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Delete Category</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
  <h1 class="mb-4">Delete Category</h1>
  <p>Are you sure you want to delete the category "<span th:text="${category.name}"></span>"?</p>

  <form th:action="@{/admin/deleteCategory}" method="post">
    <input type="hidden" th:value="${category.id}" name="id" />
    <a class="btn btn-secondary" th:href="@{/admin}">Cancel</a>
    <button type="submit" class="btn btn-danger">Delete</button>
  </form>
</div>
</body>
</html>
