<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">++
    <title th:text="${categoryName} + ' - Product Listing'">Product Listing</title>
</head>
<body>
<nav>
    <a th:href="@{/api/products/category/1}">Books</a>
    <a th:href="@{/api/products/category/2}">Coffee Mugs</a>
    <a th:href="@{/api/products/category/3}">Books</a>
    <a th:href="@{/api/products/category/4}">Coffee Mugs</a>
    <a th:href="@{/api/products/category/5}">Books</a>
    <a th:href="@{/api/products/category/6}">Coffee Mugs</a>
</nav>
    <div class="product-grid">
        <div th:each="product : ${products}">
            <div class="product">
                <img th:src="@{${product.imageUrl}}" alt="Product image"/>
                <h3 th:text="${product.name}"></h3>
                <p th:text="${product.unitPrice}"></p>
            </div>
        </div>
    </div>
<div class="pagination">
    <span th:each="i : ${#numbers.sequence(0, totalPages - 1)}">
        <a th:href="@{/api/products/category/{id}(id=${categoryId}, page=${i})}"
           th:text="${i + 1}"></a>
    </span>
</div>
</body>
</html>